.primeira-content {
    width: 100%;
    background-color: $primary-06;
    display: flex;
    flex-direction: column;

    .projetos {
        align-items: center;
        padding-top: 50px;
        padding-bottom: 100px;

        h2 {
            color: $primary-05 ;
            font-size: 45px;
            text-align: center;
        }
    }

    .card-projetos {
        display: flex;
        align-items: center;
        gap: 50px;
        margin-bottom: 30px;
        flex-wrap: wrap;
        justify-content: center;
        
        
    }

    .card {
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        background-color: $primary-07;
        height: 365px;
        width: 335px;
        border-radius: 20px;
        padding: 20px 35px;
        text-align: center;

        h5 {
            color: $primary-02;
            font-size: 24px;
        }

        img {
            width: 100px;
        }

        p {
            color: $primary-02 ;
            margin-top: 20px;
            margin-bottom: 40px;
        }

        a {
            background-color: $primary-05;
            color: $primary-02;
            padding: 10px 20px;
            border-radius: 25px;
            cursor: pointer;
            text-decoration: none;
            transition-property: background-color, transform;
            transition-duration: 1s;
        }
    }

    .card a:hover {
        background-color: transparent;
        border: 2px solid $primary-05
    }

}